CNN_extract.py
CNN_Model.ipynb
extract_CNN.py
extractCNN_features.ipynb
readme.md
CNN_extract.py
cropped_faces.pkl
serviceAccountKey.json
all_features.pkl
shape_predictor_68_face_landmarks.dat
__pycache__
saved_models
venv/
